ul,
ol {
  margin: 0; /* забираєм зовнішні відступи */
  padding: 0; /* забираєм внутрішні відступи*/
}

.gallery {
  display: flex; /* відображення у вигляді флекс-контейнера */
  padding: 24px 156px; /* внутрішній відступ */
  flex-wrap: wrap; /* дозвіл переносу елементів на нову строку */
  justify-content: center; /* вірівнювання контенту по центру */
  align-items: flex-start; /* вирівнювання по верхньому краю */
  row-gap: 24px; /* відстань між строками */
  background: #fff; /* Фоновый колір галереї */
}

.gallery-item {
  list-style-type: none; /* забираєм маркери спискасписка */
  width: calc((100% - 2 * 24px) / 3); /* Ширина элемента галереї */
  display: flex; /* відображення у вигляді  флекс-контейнера */
  flex-shrink: 0; /* забороняєм зжимання  элемента */
  justify-content: center; /* вирівнювання контента по центру */
}

.gallery-link {
  text-decoration: none; /* забираєм підкреслення */
  display: inline-block; /* відображаєм елемент як блочний */
}

.gallery-link:hover {
  cursor: zoom-in; /* змінюєм курсор при наведенні*/
}

.gallery-image {
  width: 360px; /* Ширина зображення */
  height: 200px; /* висота зображення */
  display: flex; /* відображення у вигляді  флекс-контейнера */
}

.modal {
  display: flex; /* відображення у вигляді  флекс-контейнера */
  justify-content: center; /* вирівнювання контента по центру */
  align-items: center; /* вирівнювання по вертикалі */
}